[Unit]
Description=Serve Remote Borg Backup instance %i
Requires=remote-backup.socket
After=network-online.target

[Service]
User=remote-backup
ExecStart=/usr/bin/borg serve --append-only \
  --restrict-to-path /mnt/raid/backups/data2.deadtrees.earth \
  --restrict-to-path /mnt/raid/backups/test \
  --restrict-to-path /mnt/raid/backups/supabase.deadtrees.earth
StandardInput=socket
StandardOutput=socket
StandardError=journal
