[Unit]
Description=Borg Backup Socket
PartOf=remote-backup@.service

[Socket]
ListenStream=/run/remote-backup/borg.sock
Accept=yes
SocketUser=remote-backup
SocketMode=0600

[Install]
WantedBy=sockets.target
